{% extends 'base.html' %}
{% block title %}パスワード変更{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3 class="mb-4">パスワード変更</h3>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% if field.field.widget.input_type == 'password' %}
            <input type="password"
                   name="{{ field.html_name }}"
                   id="{{ field.id_for_label }}"
                   class="form-control {% if field.errors %}is-invalid{% endif %}"
                   required>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.errors %}
            <div class="invalid-feedback">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">変更する</button>
      <a href="/" class="btn btn-secondary ms-2">キャンセル</a>
    </form>
  </div>
</div>
{% endblock %}
